

h1{
    text-align: center;
    
}
#main{
    height: 600px;
    width: 500px;
    align-items: center;
    margin-left: 32%;
    margin-top: 15px;
    font-family: 'Ranchers', cursive;
    background-image: url(/bg.jpg);
    
  
}
#message{
    max-width: 70vh;
    max-height: 70vh;
    /* min-width: 500px; */
    /* min-height: 500px; */
    overflow-y: scroll;
    align-items: center;
    padding-left: 5px;
    
   

}

body {
    background-image:url("/bg.jpg") ;
    background-color: rgb(56, 12, 215) ;
}
